<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

    <div id="app">
        <button v-on:click="startGuessing">Start</button>
        <button v-on:click="stopGuessing">Stop</button>

        <div v-if="words.length > 0" v-for="(word, index) in words" v-bind:key="word">
            {{ index+1 }}.
            <span v-for="char in word" v-bind:style="{ color: char.color }">
                {{ char.letter }}
            </span>
        </div>
    </div>

    <script>
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    seed: Math.floor(Math.random() * 1111111111),
                    isGuessing: false,
                    words: [],
                    possibleChar: "abcdefghijklmnopqrstuvwxyz"
                }
            },
            methods: {
                genRandomWord: function () {
                    var text = "";

                    for (var i = 0; i < 5; i++)
                        text += this.possibleChar.charAt(Math.floor(Math.random() * this.possibleChar.length));

                    return text;
                },
                startGuessing: function () {
                    this.isGuessing = true;
                    if (this.isGuessing) {
                        this.guess()
                    }
                },
                guess: function () {
                    let _this = this;
                    let word = this.genRandomWord()

                    fetch(`http://localhost:8000/check/?word=${word}&seed=${this.seed}`)
                        .then(response => response.json())
                        .then(json => {
                            let allCorrect = true;
                            let guess = []
                            json.forEach(function (obj, index) {
                                let possibleChar = _this.possibleChar
                                allCorrect &= obj['result'] == 'correct'
                                if (obj['result'] == 'correct') {
                                    guess.push({letter: obj['guess'], color: 'green'})
                                }
                                if (obj['result'] == 'present') {
                                    guess.push({letter: obj['guess'], color: 'yellow'})
                                }
                                if (obj['result'] == 'absent') {
                                    possibleChar = _this.possibleChar.replace(obj['guess'], '')
                                    guess.push({letter: obj['guess'], color: 'black'})
                                }
                                _this.possibleChar = possibleChar
                            });
                            console.log(_this.possibleChar);
                            this.words.push(guess)
                            if (allCorrect) {
                                _this.isGuessing = false
                                alert(`Congratulation! ${word} is the word!`)
                            } else {
                                if (_this.isGuessing) {
                                    _this.guess()
                                }
                            }
                        }).catch(err => console.log(err))
                },
                stopGuessing: function () {
                    this.isGuessing = false
                }
            },
        }).mount('#app')
    </script>
</body>

</html>